<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body class="page-template page-template-template-frontpage2 page-template-template-frontpage2-php page page-id-218 ci-muzak ci-muzak-5-0 ci-scheme-modern_default ci-dark-scheme">

{# Contenu du Site #}
{% block body %}{% endblock %}


<!-- Javascripts -->
{% block javascripts %}{% endblock %}

</body>
</html>