{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block contenu %}

    {{ dump(artistes) }}

    <div class="container">
        <div class="row section-title-wrap">
            <div class="col-xs-12">
                <h3 class="section-title">{% block titre %}Artistes{% endblock %}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="filters-nav group">
                    <li><a href="#filter" class="selected action-btn buy" data-filter="*">All Artists</a></li>
                    <li><a href="#filter" data-filter=".term-11" class="action-btn buy">DJ</a></li>
                    <li><a href="#filter" data-filter=".term-9" class="action-btn buy">Producers</a></li>
                    <li><a href="#filter" data-filter=".term-10" class="action-btn buy">Singers</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <ol class="listing group  filter-container " style="position: relative; height: 1336.10px;">

                {% for artiste in artistes %}
                <li class="col-xs-12 col-sm-6 col-md-4 producers term-9" style="position: relative; left: 0px; top: 0px;">
                    <div class="list-item">
                        <a href="#"><img width="580" height="350" src="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/artist12-580x350.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""></a>
                        <div class="list-item-info">
                            <h2 class="list-item-head"> {{ artiste.PSEUDOARTISTE }} </h2> <!-- définit dans IndexController, table wiew_artistes -->
                            <p class="list-item-actions">
                                <a href="https://www.cssigniter.com/vip/muzak5/artists/amy-f/" class="action-btn buy">Learn more</a>
                            </p>
                        </div>
                    </div>
                </li>

                {% endfor %}

            </ol>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}