{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block contenu %}

    {#{{  dump(artistes) }}#}

    <body class="cpt_artists-template-default single single-cpt_artists postid-121 ci-muzak ci-muzak-5-0 ci-scheme-modern_default ci-dark-scheme">

    <div id="page">
        <div class="container">

            <div class="row section-title-wrap ">
                <div class="col-xs-12">
                    <h3 class="section-title">{% block titre %}{% endblock %}</h3>
                </div>
            </div>

            <div class="row">
                <article class="album group post-121 cpt_artists type-cpt_artists status-publish has-post-thumbnail hentry artist-category-producers">
                    <div class="col-sm-4">
                        <!-- IMAGE -->
                        <div class="post-cover">
                            <a href="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/artist12-1024x768.jpg" class="overlay-link ci-lightbox"><img width="580" height="350" src="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/artist12-580x350.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" /></a>
                        </div>
                    </div>

                    <div class="col-sm-8 content group">
                        <h1 class="entry-title"> <!-- PSEUDO ARTISTE --> </h1>
                        <p class="entry-terms">
                            <a href="https://www.cssigniter.com/vip/muzak5/artist-category/producers/" rel="tag"> <!-- PRODUCTEURS --> </a>
                        </p>

                        <h2>Biography</h2>

                        <p>
                            <!-- BIOGRAPHIEARTISTE -->
                        </p>

                        <h3>Cras vel suscipit nisi</h3>
                        <p>
                            Sed ac pretium neque, a commodo enim. Mauris nisl sem, sollicitudin ac tincidunt vel, placerat vitae mi. Cras vel suscipit nisi, in fringilla risus. Curabitur vitae pretium tortor. Donec luctus eleifend vehicula. Quisque venenatis leo blandit dictum eleifend. Sed feugiat nunc a felis auctor egestas. Nullam a suscipit ligula.
                        </p>
                        <figure id="attachment_71" style="max-width: 819px" class="wp-caption alignnone">
                            <a href="https://www.cssigniter.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/content_image.jpg" rel="thumbnails" class="zoom"><img class="wp-image-71 size-full" src="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/content_image.jpg" alt="" width="819" height="547" srcset="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/content_image.jpg 819w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/content_image-300x200.jpg 300w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/content_image-768x513.jpg 768w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/content_image-560x374.jpg 560w" sizes="(max-width: 819px) 100vw, 819px" /></a>
                            <figcaption class="wp-caption-text">
                                Exclusive Interview
                            </figcaption>
                        </figure>
                        <h2>Phasellus lobortis enim neque</h2>
                        <ol class="tracklisting">
                            <li id="custom_player65_1" class="track group custom_player65_1">
                                <span class="track-no">1</span>
                                <p class="track-info">
                                    <span class="sub-head">Nobody Move</span>
                                    <span class="main-head">Optional subtitle. Radio edit</span>
                                </p>
                                <div class="btns"></div>
                                <a class="sm2_button" href="https://www.cssigniter.com/assets/audio/track01.mp3"><i class="fa fa-play"></i></a>
                            </li>
                            <li id="custom_player65_2" class="track group custom_player65_2">
                                <span class="track-no">2</span>
                                <p class="track-info">
                                    <span class="sub-head">Return Spooky</span>
                                    <span class="main-head">Optional subtitle. Club mix</span>
                                </p>
                                <div class="btns">
                                    <a href="/vip/muzak5/artists/amy-f/?force_download=https://www.cssigniter.com/assets/audio/track02.mp3" class="action-btn buy download-track inline-exclude">Download track</a>
                                    <a href="#ReturnSpooky-lyrics-2" title="Return Spooky Lyrics" data-mfp-src="#ReturnSpooky-lyrics-2" class="action-btn buy ci-lightbox mfp-inline">Lyrics</a>
                                    <div id="ReturnSpooky-lyrics-2" class="track-lyrics-hold mfp-hide">
                                        <p>
                                            <strong>Return Spooky&ndash;Optional subtitle. Club mix </strong>
                                        </p>
                                        <p>
                                            Woke up this morning with a head full of snow
                                            <br />
                                            Was it a dream?
                                            <br />
                                            Picked up me body for the ride of a lifetime is what it seemed
                                            <br />
                                            Hope got me started
                                            <br />
                                            Put you to the centre, so it seemed
                                            <br />
                                            Don't you hurry 'cause you'll reach your goals
                                            <br />
                                            Is what it reads
                                        </p>
                                        <p>
                                            Got caught in the rain and it washed all my senses
                                            <br />
                                            Down the drain
                                            <br />
                                            Drop me a line when you're given the time
                                            <br />
                                            And we'll talk some more
                                            <br />
                                            Woke up this morning with a head full of snow
                                            <br />
                                            Was it a dream? Don't you worry
                                            <br />
                                            'Cause you'll reach your goals is what it reads
                                        </p>
                                    </div>
                                </div>
                                <a class="sm2_button" href="https://www.cssigniter.com/assets/audio/track02.mp3"><i class="fa fa-play"></i></a>
                            </li>
                            <li id="custom_player65_3" class="track group custom_player65_3">
                                <span class="track-no">3</span>
                                <p class="track-info">
                                    <span class="sub-head">On the downbeat</span>
                                </p>
                                <div class="btns">
                                    <a href="https://www.cssigniter.com/vip/muzak5/product/nobody-move-radio-edit/" class="action-btn buy buy-track">Buy track</a>
                                    <a href="#Onthedownbeat-lyrics-3" title="On the downbeat Lyrics" data-mfp-src="#Onthedownbeat-lyrics-3" class="action-btn buy ci-lightbox mfp-inline">Lyrics</a>
                                    <div id="Onthedownbeat-lyrics-3" class="track-lyrics-hold mfp-hide">
                                        <p>
                                            <strong>On the downbeat </strong>
                                        </p>
                                        <p>
                                            Some folks like to get away,
                                            <br />
                                            Take a holiday from the neighborhood
                                            <br />
                                            Hop a flight to Miami Beach or to Hollywood
                                            <br />
                                            But I'm takin' a Greyhound on the Hudson River line
                                            <br />
                                            I'm in a New York state of mind
                                        </p>
                                        <p>
                                            I've seen all the movie stars in their fancy cars and their limousines
                                            <br />
                                            Been high in the Rockys under the evergreens
                                            <br />
                                            I know what I'm needin', and I don't want to waste more time
                                            <br />
                                            I'm in a New York state of mind
                                        </p>
                                        <p>
                                            It was so easy livin' day by day
                                            <br />
                                            Out of touch with the rhythym and blues
                                            <br />
                                            But now I need a little give and take
                                            <br />
                                            The New York Times, the Daily News
                                        </p>
                                    </div>
                                </div>
                                <a class="sm2_button" href="https://www.cssigniter.com/assets/audio/track03.mp3"><i class="fa fa-play"></i></a>
                            </li>
                            <li id="custom_player65_4" class="track group custom_player65_4">
                                <span class="track-no">4</span>
                                <p class="track-info">
                                    <span class="sub-head">The Player</span>
                                    <span class="main-head">Ramon Tapia & Stavroz</span>
                                </p>
                                <div class="btns"></div>
                                <a class="sm2_button" href="https://www.cssigniter.com/assets/audio/track04.mp3"><i class="fa fa-play"></i></a>
                            </li>
                            <li id="custom_player65_5" class="track group custom_player65_5">
                                <span class="track-no">5</span>
                                <p class="track-info">
                                    <span class="sub-head">Sunrise</span>
                                    <span class="main-head">Optional Subtitle</span>
                                </p>
                                <div class="btns"></div>
                                <a class="sm2_button" href="https://www.cssigniter.com/assets/audio/track05.mp3"><i class="fa fa-play"></i></a>
                            </li>
                            <li id="custom_player65_6" class="track group custom_player65_6">
                                <span class="track-no">6</span>
                                <p class="track-info">
                                    <span class="sub-head">Souncloud Track</span>
                                </p>
                                <div class="btns"></div>
                                <a href="#track65_6" class="track-listen sc"><i class="fa fa-soundcloud"></i></a>
                                <div id="track65_6" class="track-audio">
                                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F198714762&visual=true"></iframe>
                                </div>
                            </li>
                        </ol>

                    </div>
                </article>
            </div>
        </div>

    </div>
    </body>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}