{% extends 'admin.html.twig' %}

{% block stylesheets %} 
    {{ parent() }}
{% endblock %}

{% block titre %}
    Je m'inscris comme artiste
{% endblock %}

{% block pagecontent %}
    <h3>Nous vous invitons à remplir le formulaire ci-après.</h3>
{% endblock %}

{% block pagesidebar %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
