{% extends 'admin.html.twig' %}

{% block stylesheets %} 
    {{ parent() }}
{% endblock %}

{% block titre %}
    Mon Profil : Sean Paul
{% endblock %}

{% block pagecontent %}
    <h3>Informations de mon profil...</h3>
{% endblock %}

{% block pagesidebar %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
