<!-- ########################### FOOTER ########################### -->
<div id="footer-wrap">
    <div class="container">
        <footer class="row">
            <div class="col-md-12">
                <div id="footer">
                    <div class="row">
                        <div class="col-sm-4 widget-area">
                            <div id="null-instagram-feed-2" class="null-instagram-feed widget group">
                                <h3 class="widget-title">
                                    Instagram
                                </h3>
                                <ul class="instagram-pics instagram-size-small">
                                    <!--<li>-->
                                        <!--<a href="https://instagram.com/p/BdILt6xHpDb/" target="_self">-->
                                            <!--<img src="https://scontent-sjc2-1.cdninstagram.com/t51.2885-15/s320x320/sh0.08/e35/25017190_173058709961018_6809210021155438592_n.jpg" alt="">-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="https://instagram.com/p/BdCif8FHUQ9/" target="_self">-->
                                            <!--<img src="https://scontent-sjc2-1.cdninstagram.com/t51.2885-15/s320x320/sh0.08/e35/c0.1.700.700/25014549_198915134012597_2192374890990927872_n.jpg" alt="">-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="https://instagram.com/p/Bc-cY8lnm5b/" target="_self">-->
                                            <!--<img src="https://scontent-sjc2-1.cdninstagram.com/t51.2885-15/e35/s320x320/c142.0.566.566/25007178_2049293555357867_4046671336787935232_n.jpg" alt="">-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="https://instagram.com/p/Bc7dWz9HZpX/" target="_self">-->
                                            <!--<img src="https://scontent-sjc2-1.cdninstagram.com/t51.2885-15/s320x320/sh0.08/e35/25015381_133922550633899_8530929910380756992_n.jpg" alt="" target="_self">-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="https://instagram.com/p/Bc69fP2HOsY/" target="_self">-->
                                            <!--<img src="https://scontent-sjc2-1.cdninstagram.com/t51.2885-15/s320x320/sh0.08/e35/c0.95.852.852/25008781_1993829747553859_3718256666794262528_n.jpg" alt="" target="_self">-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="https://instagram.com/p/Bc5fcWsH0UO/" target="_self">-->
                                            <!--<img src="https://scontent-sjc2-1.cdninstagram.com/t51.2885-15/s320x320/sh0.08/e35/c181.0.718.718/25014364_1727984180556194_8303636624713973760_n.jpg" alt="" target="_self">-->
                                        <!--</a>-->
                                    <!--</li>-->
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-4 widget-area">
                            <div id="woocommerce_top_rated_products-2" class="woocommerce widget_top_rated_products widget group">
                                <h3 class="widget-title">
                                    Top rated products
                                </h3>
                                <ul class="product_list_widget">
                                    <li class="media">
                                        <div class="media-thumb">
                                            <a href="https://www.cssigniter.com/vip/muzak5/product/little-lies/" title="Little Lies">
                                                <img width="100" height="100" src="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album05.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" sizes="(max-width: 100px) 100vw, 100px">
                                            </a>
                                        </div>
                                        <div class="media-content">
                                            <a class="media-title" href="https://www.cssigniter.com/vip/muzak5/product/little-lies/" title="Little Lies">
                                                <span class="product-title">Little Lies</span>
                                            </a>
                                            <p class="price">
                                                <del>
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">£</span>
                                                        24.00
                                                    </span>
                                                </del>
                                                <ins>
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">£</span>
                                                        19.00
                                                    </span>
                                                </ins>
                                            </p>
                                            <div class="star-rating">
                                                <span style="width: 100%">
                                                    Rated
                                                    <strong class="rating">5.00</strong>
                                                    out of 5
                                                </span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <div class="media-thumb">
                                            <a href="https://www.cssigniter.com/vip/muzak5/product/danger-room/" title="Danger Room">
                                                <img width="100" height="100" src="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album04.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" sizes="(max-width: 100px) 100vw, 100px">
                                            </a>
                                        </div>
                                        <div class="media-content">
                                            <a class="media-title" href="https://www.cssigniter.com/vip/muzak5/product/danger-room/" title="Danger Room">
                                                <span class="product-title">Danger Room</span>
                                            </a>
                                            <p class="price">
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">£</span>
                                                    24.00
                                                </span>
                                            </p>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <div class="media-thumb">
                                            <a href="https://www.cssigniter.com/vip/muzak5/product/united-people/" title="United People">
                                                <img width="100" height="100" src="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album06.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" sizes="(max-width: 100px) 100vw, 100px">
                                            </a>
                                        </div>
                                        <div class="media-content">
                                            <a class="media-title" href="https://www.cssigniter.com/vip/muzak5/product/united-people/" title="United People">
                                                <span class="product-title">United People</span>
                                            </a>
                                            <p class="price">
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">£</span>
                                                    22.00
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 widget-area">
                            <div id="custom_html-2" class="widget_text widget_custom_html widget group">
                                <h3 class="widget-title">
                                    About Muzak
                                </h3>
                                <div class="textwidget custom-html-widget">
                                    <p style="margin: 0;">
                                        <img src="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/logo.png" alt="logo">
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eleifend erat vel maximus sagittis.
                                    </p>
                                </div>
                            </div>
                            <div id="socials-ignited-2" class="widget_socials_ignited widget group">
                                <h3 class="widget-title">
                                    We are social
                                </h3>
                                <div class="ci-socials-ignited ci-socials-ignited-fa">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-soundcloud"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="footer-credits">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <p class="footer-left">Muzak - Music Theme</p>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <p class="footer-right">
                                Made by :
                                <a href="https://www.cssigniter.com">CSSIgniter</a>
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer> <!--/footer-->
    </div><!-- /container -->
</div><!-- /footer-wrap -->

</div> <!-- /id page -->