<!-- ########################### FOOTER ########################### -->
<div id="footer-wrap">
    <div class="container">

        <footer id="footer" class="sixteen columns">

            <div class="four columns widget-area alpha">
                <div class="widget group">
                    <h3 class="widget-title">Widget title</h3>
                    <p>I am really excited to announce that I'll be compiling the next album, set for a November 2012 release</p>
                </div><!-- /widget -->
                <div class="widget group">
                    <h3 class="widget-title">Widget title</h3>
                    <ul>
                        <li><a href="#">Some list option</a></li>
                        <li><a href="#">Some list option</a></li>
                        <li><a href="#">Some list option</a></li>
                        <li><a href="#">Some list option</a></li>
                    </ul>
                </div><!-- /widget -->
            </div><!-- /widget-area -->

            <div class="four columns widget-area">
                <div class="widget group">
                    <h3 class="widget-title">Flickr</h3>
                    <div class="f group">
                        <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=random&amp;&amp;layout=x&amp;source=user&amp;user=12313997@N00&amp;size=s"></script>
                    </div><!-- /f -->
                </div><!-- /widget -->
            </div><!-- /widget-area -->

            <div class="four columns widget-area">
                <div class="widget group">
                    <h3 class="widget-title">Widget title</h3>
                    <p>I am really excited to announce that I'll be compiling the next album, set for a November 2012 release.</p>
                </div><!-- /widget -->
                <div class="widget group">
                    <h3 class="widget-title">Widget title</h3>
                    <ul>
                        <li><a href="#">Some list option</a></li>
                        <li><a href="#">Some list option</a></li>
                        <li><a href="#">Some list option</a></li>
                        <li><a href="#">Some list option</a></li>
                    </ul>
                </div><!-- /widget -->
            </div><!-- /widget-area -->

            <div class="four columns widget-area omega">
                <div class="widget group">
                    <h3 class="widget-title">SOCIAL</h3>
                    <a href="#" class="icn twitter">Twitter</a> <a href="#" class="icn facebook">Facebook</a>
                    <a href="#" class="icn flickr">Flickr</a> <a href="#" class="icn picasa">Picasa</a>
                    <a href="#" class="icn lnkdin">Linked In</a> <a href="#" class="icn gplus">Google+</a>
                </div><!-- /widget -->
                <div class="widget group">
                    <h3 class="widget-title">Widget title</h3>
                    <p>I am really excited to announce that I'll be compiling the next album, set for a November 2012 release.</p>
                </div><!-- /widget -->
            </div><!-- /widget-area -->

        </footer><!-- /footer -->

    </div><!-- /container -->
</div><!-- /footer-wrap -->