
    <!-- MOBILE BAR -->
    <div id="mobile-bar">
        <a class="menu-trigger" href="#mobilemenu"><i class="fa fa-bars"></i></a>
        <p class="mob-title">
            Accueil
        </p>
    </div>

    <div id="page">
        <div class="container">
            <!-- ########################### HEADER ########################### -->
            <header id="header">
                <div class="row row-table">
                    <div class="col-md-2 col-sm-5 col-xs-12">
                        <div id="logo" class="imglogo">
                            <h1>
                                <a href="{{ url('index_index') }}"><img src="{{ asset('assets/images/logo-mystarre.png') }}" alt="MyStarre"  /></a>
                            </h1>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-7 col-xs-12">
                        <div class="head-right">
                            <div class="nav-side">
                                <nav id="nav" class="nav">
                                    <ul id="navigation" class="navigation group">
                                        <li class="menu-item current-menu-item">
                                            <a href="{{ url('index_index') }}">Accueil</a>
                                        </li>
                                        <li class="menu-item"><a href="{{ url('index_artistes') }}">Artistes à découvrir</a></li>
                                        <li class="menu-item"><a href="#">Sorties musicales</a></li>
                                        <li class="menu-item"><a href="#">Clips Vidéos</a></li>
                                        <li class="menu-item"><a href="#">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="widgets-head">
                                <div id="socials-ignited-3" class="widget_socials_ignited widget group">
                                    <div class="ci-socials-ignited ci-socials-ignited-fa">
                                        <a href="#"><i class="fa fa-soundcloud"></i></a>
                                        <a href="#"><i class="fa fa-spotify"></i></a>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="mobilemenu"></div>
            </header>
        </div> <!-- fin du container définit dans menu -->