
<aside class="col-md-3 sidebar">
    <div id="ci_events_widget-2" class="widget_ci_events_widget widget group">
        <h3 class="widget-title">Upcoming Events</h3>
        <ul class="tour-dates">
            <li class="group" itemprop="event" itemscope itemtype="http://schema.org/Event">
                <meta itemprop="startDate" content="2018-09-28">
                <p class="tour-date">
                    <span class="day">28</span>
                    Sep
                    <span class="year">2018</span>
                </p>
                <div class="tour-place">
                    <span class="sub-head" itemprop="name"><a itemprop="url" href="https://www.cssigniter.com/vip/muzak5/events/oaka/" >OAKA</a></span>
                    <span itemprop="location" itemscope itemtype="http://schema.org/Place" class="main-head">
										<span itemprop="name">OAKA Stadium</span>
										<meta itemprop="address" content="Kifisias 128, 12462">
									</span>
                    <a href="https://www.cssigniter.com/vip/muzak5/product/event-ticket/" class="action-btn buy" >Buy Tickets</a>
                </div>
            </li>
            <li class="group" itemprop="event" itemscope itemtype="http://schema.org/Event">
                <meta itemprop="startDate" content="2018-10-02">
                <p class="tour-date">
                    <span class="day">02</span>
                    Oct
                    <span class="year">2018</span>
                </p>
                <div class="tour-place">
                    <span class="sub-head" itemprop="name"><a itemprop="url" href="https://www.cssigniter.com/vip/muzak5/events/casino-center/" >Casino Center</a></span>
                    <span itemprop="location" itemscope itemtype="http://schema.org/Place" class="main-head">
										<span itemprop="name">Storm Club</span>
										<meta itemprop="address" content="Puerto Lugar 28">
									</span>
                    <a href="#" class="action-btn canceled" >Canceled</a>
                </div>
            </li>
            <li class="group" itemprop="event" itemscope itemtype="http://schema.org/Event">
                <meta itemprop="startDate" content="2018-10-17">
                <p class="tour-date">
                    <span class="day">17</span>
                    Oct
                    <span class="year">2018</span>
                </p>
                <div class="tour-place">
                    <span class="sub-head" itemprop="name"><a itemprop="url" href="https://www.cssigniter.com/vip/muzak5/events/stereosonic/" >StereoSonic</a></span>
                    <span itemprop="location" itemscope itemtype="http://schema.org/Place" class="main-head">
										<span itemprop="name">Club Dubstep</span>
										<meta itemprop="address" content="4605 Chardonnay Drive, Cumnock">
									</span>
                    <a href="https://www.youtube.com/watch?v=bk6Xst6euQk" class="action-btn watch" >Watch Live</a>
                </div>
            </li>
            <li class="group" itemprop="event" itemscope itemtype="http://schema.org/Event">
                <meta itemprop="startDate" content="2018-10-25">
                <p class="tour-date">
                    <span class="day">25</span>
                    Oct
                    <span class="year">2018</span>
                </p>
                <div class="tour-place">
                    <span class="sub-head" itemprop="name"><a itemprop="url" href="https://www.cssigniter.com/vip/muzak5/events/the-arches/" >The Arches</a></span>
                    <span itemprop="location" itemscope itemtype="http://schema.org/Place" class="main-head">
										<span itemprop="name">Club88</span>
										<meta itemprop="address" content="189 Kincheloe Road, Tigard">
									</span>
                    <a href="#" class="action-btn sold" >Sold Out</a>
                </div>
            </li>
            <li class="group" itemprop="event" itemscope itemtype="http://schema.org/Event">
                <meta itemprop="startDate" content="2018-10-29">
                <p class="tour-date">
                    <span class="day">29</span>
                    Oct
                    <span class="year">2018</span>
                </p>
                <div class="tour-place">
                    <span class="sub-head" itemprop="name"><a itemprop="url" href="https://www.cssigniter.com/vip/muzak5/events/espacio-riesco/" >Espacio Riesco</a></span>
                    <span itemprop="location" itemscope itemtype="http://schema.org/Place" class="main-head">
										<span itemprop="name">Ushuaia</span>
										<meta itemprop="address" content="1724 August Lane, Monroe">
									</span>
                    <a href="https://www.cssigniter.com/vip/muzak5/product/event-ticket/" class="action-btn buy" >Buy Tickets</a>
                </div>
            </li>
        </ul>
    </div>
    <div id="ci_artists_widget-2" class="widget_ci_artists_widget widget group">
        <h3 class="widget-title">Featured Artist</h3>
        <div class="list-item">
            <a href="https://www.cssigniter.com/vip/muzak5/artists/amy-f/"><img width="580" height="350" src="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/artist12-580x350.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" /></a>
            <div class="list-item-info">
                <h2 class="list-item-head">Amy F</h2>
                <h3 class="list-item-sub"><a href="https://www.cssigniter.com/vip/muzak5/artist-category/producers/" rel="tag">Producers</a></h3>
                <p class="list-item-actions">
                    <a href="https://www.cssigniter.com/vip/muzak5/artists/amy-f/" class="action-btn view">View artist</a>
                </p>
            </div>
        </div>
    </div>
    <div id="ci_galleries_widget-2" class="widget_ci_galleries_widget widget group">
        <h3 class="widget-title">Latest Photo Gallery</h3>
        <div class="list-item">
            <a href="https://www.cssigniter.com/vip/muzak5/galleries/evoque/"><img width="580" height="350" src="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/gallery13-580x350.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" /></a>
            <div class="list-item-info">
                <h2 class="list-item-head">Lib</h2>
                <h3 class="list-item-sub">New York, USA</h3>
                <p class="list-item-actions">
                    <a href="https://www.cssigniter.com/vip/muzak5/galleries/evoque/" class="action-btn view">View set</a>
                </p>
            </div>
        </div>
    </div>
    <div id="ci_videos_widget-2" class="widget_ci_videos_widget widget group">
        <h3 class="widget-title">Latest Video</h3>
        <div class="list-item list-item-video">
            <a href="https://www.youtube.com/watch?v=AJonDuuebc0" class="overlay-link ci-lightbox mfp-iframe">
                <img width="580" height="350" src="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/redd-angelo-110463-580x350.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
                <div class="overlay icon-play"></div>
            </a>
            <div class="list-item-info">
                <h2 class="list-item-head">Lee Burridge @ BPM Festiva</h2>
            </div>
        </div>
    </div>
    <div id="ci_discography_widget-2" class="widget_ci_discography_widget widget group">
        <h3 class="widget-title">Latest Albums</h3>
        <div class="list-item">
            <a href="https://www.cssigniter.com/vip/muzak5/discography/the-alchemist/"><img width="560" height="560" src="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album12-560x560.jpg" class="attachment-ci_discography size-ci_discography wp-post-image" alt="" srcset="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album12-560x560.jpg 560w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album12-150x150.jpg 150w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album12-300x300.jpg 300w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album12-768x768.jpg 768w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album12-100x100.jpg 100w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album12.jpg 800w" sizes="(max-width: 560px) 100vw, 560px" /></a>
            <div class="list-item-info">
                <h2 class="list-item-head">The Alchemist</h2>
                <p class="list-item-actions">
                    <a href="https://www.cssigniter.com/vip/muzak5/discography/the-alchemist/" class="action-btn buy">Learn more</a>
                </p>
            </div>
        </div>
        <div class="list-item">
            <a href="https://www.cssigniter.com/vip/muzak5/discography/my-heart/"><img width="560" height="560" src="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-560x560.jpg" class="attachment-ci_discography size-ci_discography wp-post-image" alt="" srcset="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-560x560.jpg 560w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-150x150.jpg 150w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-300x300.jpg 300w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-768x768.jpg 768w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-100x100.jpg 100w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11.jpg 800w" sizes="(max-width: 560px) 100vw, 560px" /></a>
            <div class="list-item-info">
                <h2 class="list-item-head">My Heart</h2>
                <p class="list-item-actions">
                    <a href="https://www.cssigniter.com/vip/muzak5/discography/my-heart/" class="action-btn buy">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</aside>
<aside class="col-md-3 sidebar">
    <div id="ci_event_widget-2" class="widget_ci_event_widget widget group">
        <h3 class="widget-title">Don&#8217;t miss it</h3>
        <ul class="tour-event">
            <li class="group" itemprop="event" itemscope itemtype="http://schema.org/Event">
                <meta itemprop="startDate" content="2018-09-28">
                <p class="tour-event-thumb">
                    <a href="https://www.cssigniter.com/vip/muzak5/events/oaka/" ><img width="560" height="747" src="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/event05-560x747.jpg" class="attachment-ci_event size-ci_event wp-post-image" alt="" srcset="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/event05-560x747.jpg 560w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/event05-225x300.jpg 225w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/event05.jpg 768w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/event05-65x86.jpg 65w" sizes="(max-width: 560px) 100vw, 560px" /></a>
                </p>
                <div class="tour-group group">
                    <p class="tour-date">
                        <span class="day">28</span>
                        Sep
                        <span class="year">2018</span>
                    </p>
                    <div class="tour-place">
                        <span class="sub-head" itemprop="name"><a itemprop="url" href="https://www.cssigniter.com/vip/muzak5/events/oaka/" >OAKA</a></span>
                        <span itemprop="location" itemscope itemtype="http://schema.org/Place" class="main-head">
											<span itemprop="name">OAKA Stadium</span>
											<meta itemprop="address" content="Kifisias 128, 12462">
										</span>
                        <a href="https://www.cssigniter.com/vip/muzak5/product/event-ticket/" class="action-btn buy" >Buy Tickets</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="ci_tracklisting_widget-2" class="widget_ci_tracklisting_widget widget group">
        <h3 class="widget-title">Featured Album</h3>
        <div class="list-item">
            <a href="https://www.cssigniter.com/vip/muzak5/discography/my-heart/"><img width="560" height="560" src="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-560x560.jpg" class="attachment-ci_discography size-ci_discography wp-post-image" alt="" srcset="https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-560x560.jpg 560w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-150x150.jpg 150w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-300x300.jpg 300w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-768x768.jpg 768w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-100x100.jpg 100w, https://vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11.jpg 800w" sizes="(max-width: 560px) 100vw, 560px" /></a>
            <div class="list-item-info">
                <h2 class="list-item-head">My Heart</h2>
                <p class="list-item-actions">
                    <a href="https://www.cssigniter.com/vip/muzak5/discography/my-heart/" class="action-btn buy">Learn more</a>
                </p>
            </div>
        </div>
        <ol class="tracklisting">
            <li id="custom_player90_1" class="track group custom_player90_1">
                <p class="track-info">
                    <span class="sub-head">Nobody Move</span>
                    <span class="main-head">Optional subtitle. Radio edit</span>
                </p>
                <a class="sm2_button" href="https://www.cssigniter.com/assets/audio/track01.mp3"><i class="fa fa-play"></i></a>
            </li>
            <li id="custom_player90_2" class="track group custom_player90_2">
                <p class="track-info">
                    <span class="sub-head">Return Spooky</span>
                    <span class="main-head">Optional subtitle. Club mix</span>
                </p>
                <a class="sm2_button" href="https://www.cssigniter.com/assets/audio/track02.mp3"><i class="fa fa-play"></i></a>
            </li>
            <li id="custom_player90_3" class="track group custom_player90_3">
                <p class="track-info">
                    <span class="sub-head">On the downbeat</span>
                </p>
                <a class="sm2_button" href="https://www.cssigniter.com/assets/audio/track03.mp3"><i class="fa fa-play"></i></a>
            </li>
            <li id="custom_player90_4" class="track group custom_player90_4">
                <p class="track-info">
                    <span class="sub-head">The Player</span>
                    <span class="main-head">Ramon Tapia & Stavroz</span>
                </p>
                <a class="sm2_button" href="https://www.cssigniter.com/assets/audio/track04.mp3"><i class="fa fa-play"></i></a>
            </li>
            <li id="custom_player90_5" class="track group custom_player90_5">
                <p class="track-info">
                    <span class="sub-head">Sunrise</span>
                    <span class="main-head">Optional Subtitle</span>
                </p>
                <a class="sm2_button" href="https://www.cssigniter.com/assets/audio/track05.mp3"><i class="fa fa-play"></i></a>
            </li>
            <li id="custom_player90_6" class="track group custom_player90_6">
                <p class="track-info">
                    <span class="sub-head">Souncloud Track</span>
                </p>
                <a href="#track90_6" class="track-listen sc"><i class="fa fa-soundcloud"></i></a>
                <div id="track90_6" class="track-audio">
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F198714762&visual=true"></iframe>
                </div>
            </li>
        </ol>
    </div>
    <div id="woocommerce_products-2" class="woocommerce widget_products widget group">
        <h3 class="widget-title">Our Shop</h3>
        <ul class="product_list_widget">
            <li class="media">
                <div class="media-thumb">
                    <a href="https://www.cssigniter.com/vip/muzak5/product/the-cage/" title="The Cage"><img width="100" height="100" src="//vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album12.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="//vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album12.jpg 800w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album12-150x150.jpg 150w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album12-300x300.jpg 300w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album12-768x768.jpg 768w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album12-100x100.jpg 100w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album12-560x560.jpg 560w" sizes="(max-width: 100px) 100vw, 100px" /></a>
                </div>
                <div class="media-content">
                    <a class="media-title" href="https://www.cssigniter.com/vip/muzak5/product/the-cage/" title="The Cage"><span class="product-title">The Cage</span></a>
                    <p class="price">
                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>26.00</span>
                    </p>
                </div>
            </li>
            <li class="media">
                <div class="media-thumb">
                    <a href="https://www.cssigniter.com/vip/muzak5/product/the-division-bell/" title="The Division Bell"><img width="100" height="100" src="//vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album08.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="//vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album08.jpg 800w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album08-150x150.jpg 150w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album08-300x300.jpg 300w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album08-768x768.jpg 768w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album08-100x100.jpg 100w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album08-560x560.jpg 560w" sizes="(max-width: 100px) 100vw, 100px" /></a>
                </div>
                <div class="media-content">
                    <a class="media-title" href="https://www.cssigniter.com/vip/muzak5/product/the-division-bell/" title="The Division Bell"><span class="product-title">The Division Bell</span></a>
                    <p class="price">
                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>26.00</span>
                    </p>
                </div>
            </li>
            <li class="media">
                <div class="media-thumb">
                    <a href="https://www.cssigniter.com/vip/muzak5/product/lost-horizons/" title="Lost Horizons"><img width="100" height="100" src="//vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="//vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11.jpg 800w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-150x150.jpg 150w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-300x300.jpg 300w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-768x768.jpg 768w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-100x100.jpg 100w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album11-560x560.jpg 560w" sizes="(max-width: 100px) 100vw, 100px" /></a>
                </div>
                <div class="media-content">
                    <a class="media-title" href="https://www.cssigniter.com/vip/muzak5/product/lost-horizons/" title="Lost Horizons"><span class="product-title">Lost Horizons</span></a>
                    <p class="price">
                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>26.00</span>
                    </p>
                </div>
            </li>
            <li class="media">
                <div class="media-thumb">
                    <a href="https://www.cssigniter.com/vip/muzak5/product/united-people/" title="United People"><img width="100" height="100" src="//vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album06.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="//vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album06.jpg 800w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album06-150x150.jpg 150w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album06-300x300.jpg 300w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album06-768x768.jpg 768w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album06-100x100.jpg 100w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album06-560x560.jpg 560w" sizes="(max-width: 100px) 100vw, 100px" /></a>
                </div>
                <div class="media-content">
                    <a class="media-title" href="https://www.cssigniter.com/vip/muzak5/product/united-people/" title="United People"><span class="product-title">United People</span></a>
                    <p class="price">
                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>22.00</span>
                    </p>
                </div>
            </li>
            <li class="media">
                <div class="media-thumb">
                    <a href="https://www.cssigniter.com/vip/muzak5/product/danger-room/" title="Danger Room"><img width="100" height="100" src="//vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album04.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="//vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album04.jpg 800w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album04-150x150.jpg 150w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album04-300x300.jpg 300w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album04-768x768.jpg 768w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album04-100x100.jpg 100w, //vip-2246.kxcdn.com/vip/muzak5/wp-content/uploads/sites/20/2017/10/album04-560x560.jpg 560w" sizes="(max-width: 100px) 100vw, 100px" /></a>
                </div>
                <div class="media-content">
                    <a class="media-title" href="https://www.cssigniter.com/vip/muzak5/product/danger-room/" title="Danger Room"><span class="product-title">Danger Room</span></a>
                    <p class="price">
                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>24.00</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</aside>