<div class="col-md-3 sidebar">
    <div id="ci_events_widget-2" class="widget_ci_events_widget widget group">
        <h3 class="widget-title">
            Upcoming Events
        </h3>
        <ul class="tour-dates">
            <li class="group" itemprop="event" itemscope itemtype="http://schema.org/Event">
                <meta itemprop="startDate" content="2018-09-28">
                <p class="tour-date">
                    <span class="day">28</span>
                    Sep
                    <span class="year">2018</span>
                </p>
                <div class="tour-place">
                    <span class="sub-head" itemprop="name">
                        <a itemprop="url" href="#">OAKA</a>
                    </span>
                    <span itemprop="location" itemscope itemtype="#" class="main-head">
                        <span itemprop="name">OAKA Stadium</span>
                        <meta itemprop="address" content="Kifisias 128, 12462">
                    </span>
                    <a href="#" class="action-btn buy">Buy Tickets</a>
                </div>
            </li>

            <li class="group" itemprop="event" itemscope itemtype="http://schema.org/Event">
                    <meta itemprop="startDate" content="2018-10-02">
                    <p class="tour-date">
                        <span class="day">02</span>
                        Oct
                        <span class="year">2018</span>
                    </p>
                    <div class="tour-place">
                        <span class="sub-head" itemprop="name">
                            <a itemprop="url" href="https://www.cssigniter.com/vip/muzak5/events/casino-center/">Casino Center</a>
                        </span>
                        <span itemprop="location" itemscope itemtype="http://schema.org/Place" class="main-head">
                            <span itemprop="name">Storm Club</span>
                            <meta itemprop="address" content="Puerto Lugar 28">
                        </span>
                        <a href="#" class="action-btn canceled">Canceled</a>
                    </div>
            </li>

            <li class="group" itemprop="event" itemscope itemtype="http://schema.org/Event">
                <meta itemprop="startDate" content="2018-10-17">
                <p class="tour-date">
                    <span class="day">17</span>
                    Oct
                    <span class="year">2018</span>
                </p>
                <div class="tour-place">
                        <span class="sub-head" itemprop="name">
                            <a itemprop="url" href="https://www.cssigniter.com/vip/muzak5/events/stereosonic/">StereoSonic</a>
                        </span>
                    <span itemprop="location" itemscope itemtype="http://schema.org/Place" class="main-head">
                            <span itemprop="name">Club Dubstep</span>
                            <meta itemprop="address" content="4605 Chardonnay Drive, Cumnock">
                        </span>
                    <a href="https://www.youtube.com/watch?v=bk6Xst6euQk" class="action-btn watch">Watch Live</a>
                </div>
            </li>

            <li class="group" itemprop="event" itemscope itemtype="http://schema.org/Event">
                <meta itemprop="startDate" content="2018-10-25">
                <p class="tour-date">
                    <span class="day">25</span>
                    Oct
                    <span class="year">2018</span>
                </p>
                <div class="tour-place">
                        <span class="sub-head" itemprop="name">
                            <a itemprop="url" href="https://www.cssigniter.com/vip/muzak5/events/the-arches/">The Arches</a>
                        </span>
                    <span itemprop="location" itemscope itemtype="http://schema.org/Place" class="main-head">
                            <span itemprop="name">Club88</span>
                            <meta itemprop="address" content="189 Kincheloe Road, Tigard">
                        </span>
                    <a href="#" class="action-btn sold">Sold Out</a>
                </div>
            </li>

            <li class="group" itemprop="event" itemscope itemtype="http://schema.org/Event">
                <meta itemprop="startDate" content="2018-10-29">
                <p class="tour-date">
                    <span class="day">29</span>
                    Oct
                    <span class="year">2018</span>
                </p>
                <div class="tour-place">
                        <span class="sub-head" itemprop="name">
                            <a itemprop="url" href="https://www.cssigniter.com/vip/muzak5/events/espacio-riesco/">Espacio Riesco</a>
                        </span>
                    <span itemprop="location" itemscope itemtype="http://schema.org/Place" class="main-head">
                            <span itemprop="name">ushuaia</span>
                            <meta itemprop="address" content="1724 August Lane, Monroe">
                        </span>
                    <a href="#" class="action-btn buy">Buy Tickets</a>
                </div>
            </li>

        </ul>
    </div>
</div>