

<aside class="four columns sidebar">

    ​

    <div class="widget group">

        <h3 class="widget-title">Tour dates</h3>

        <ul class="tour-dates">

            <li class="group">

                <p class="tour-date"><span class="day">20</span>Sept <span class="year">2012</span></p>

                <div class="tour-place">

                    <span class="sub-head">Encore beach club</span>

                    <span class="main-head">Hollywood, California</span>

                    <a href="#" class="action-btn watch">Watch Live</a>

                </div>

            </li>

            <li class="group">

                <p class="tour-date"><span class="day">2</span>Jan <span class="year">2012</span></p>

                <p class="tour-place">

                    <span class="sub-head">Encore beach club</span>

                    <span class="main-head">Hollywood, California</span>

                    <a href="#" class="action-btn sold">Sold Out</a>

                </p>

            </li>

            <li class="group">

                <p class="tour-date"><span class="day">14</span>Feb <span class="year">2012</span></p>

                <p class="tour-place">

                    <span class="sub-head">Encore beach club</span>

                    <span class="main-head">Hollywood, California</span>

                    <a href="#" class="action-btn canceled">Canceled</a>

                </p>

            </li>

            <li class="group">

                <p class="tour-date"><span class="day">20</span>Sept <span class="year">2012</span></p>

                <p class="tour-place">

                    <span class="sub-head">Encore beach club</span>

                    <span class="main-head">Hollywood, California</span>

                    <a href="#" class="action-btn buy">Buy Tickets</a>

                </p>

            </li>

        </ul><!-- /tour-dates -->

    </div><!-- /widget -->

    ​

    <div class="widget">

        <h3 class="widget-title">Latest Album</h3>

        <div id="latest-album" class="latest-item">

            <img src="http://placekitten.com/438/438" alt="" class="scale-with-grid" />

            <p class="album-info">

                <span class="sub-head">Release date: September 18th, 2012</span>

                <span class="main-head">Dancing in my head</span>

                <span class="album-actions">

                                    <a href="#" class="action-btn listen">Listen</a>

                                    <a href="#" class="action-btn buy">Buy now</a>

                                </span>

            </p>

        </div><!-- /latest-album -->

    </div><!-- /widget -->

    ​

</aside><!-- /sidebar -->

<aside class="four columns omega sidebar">

    ​

    <div class="widget group">

        <h3 class="widget-title">Galleries</h3>

        <div class="latest-item">

            <img src="http://placekitten.com/g/438/292" alt="" class="scale-with-grid widget-img" />

            <p class="album-info">

                <span class="sub-head">Encore Beach Club</span>

                <span class="main-head">Hollywood, California</span>

                <span class="album-actions">

                                    <a href="#" class="action-btn view">View gallery</a>

                                </span>

            </p>

        </div><!-- /latest-gallery -->

        <div class="latest-item">

            <img src="http://placekitten.com/g/438/292" alt="" class="scale-with-grid widget-img" />

            <p class="album-info">

                <span class="sub-head">Encore Beach Club</span>

