{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Accueil {% endblock %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}
    {{ dump(app.user) }}
    <div class="row">
        <div class="sixteen columns">
            <div class="eight columns alpha content">

                <h3 class="widget-title">News</h3>

                <article class="post">
                    <div class="post-intro">
                        <img src="http://placekitten.com/g/460/205" alt="" class="scale-with-grid" />
                        <h2><a href="#">Renaissance: Masters Series</a></h2>
                    </div><!-- /intro -->
                    <div class="post-body">
                        <p class="meta"><time class="post-date" datetime="2012-10-10">10 Oct, 2012</time> <span class="bull">&bull;</span> <a href="#">12 Comments</a></p>
                        <p>I am really excited to announce that I'll be compiling the next album, set for a November 2012 release, which will be my 13th compilation. In 2001 Danny Howells and I released The Masters Series Part Four.</p>
                    </div>
                </article><!-- /post -->

                <article class="post">
                    <div class="post-intro">
                        <img src="http://placekitten.com/g/460/205" alt="" class="scale-with-grid" />
                        <h2><a href="#">Renaissance: Masters Series</a></h2>
                    </div><!-- /intro -->
                    <div class="post-body">
                        <p class="meta"><time class="post-date" datetime="2012-10-10">10 Oct, 2012</time> <span class="bull">&bull;</span> <a href="#">12 Comments</a></p>
                        <p>I am really excited to announce that I'll be compiling the next album, set for a November 2012 release, which will be my 13th compilation. In 2001 Danny Howells and I released The Masters Series Part Four.</p>
                    </div>
                </article><!-- /post -->

                <article class="post">
                    <div class="post-intro">
                        <img src="http://placekitten.com/g/460/205" alt="" class="scale-with-grid" />
                        <h2><a href="#">Renaissance: Masters Series. This is the one with Dave Seaman in Moscow, Russia</a></h2>
                    </div><!-- /intro -->
                    <div class="post-body">
                        <p class="meta"><time class="post-date" datetime="2012-10-10">10 Oct, 2012</time> <span class="bull">&bull;</span> <a href="#">12 Comments</a></p>
                        <p>I am really excited to announce that I'll be compiling the next album, set for a November 2012 release, which will be my 13th compilation. In 2001 Danny Howells and I released The Masters Series Part Four.</p>
                    </div>
                </article><!-- /post -->

                <article class="post">
                    <div class="post-intro">
                        <img src="http://placekitten.com/g/460/205" alt="" class="scale-with-grid" />
                        <h2><a href="#">Renaissance: Masters Series</a></h2>
                    </div><!-- /intro -->
                    <div class="post-body">
                        <p class="meta"><time class="post-date" datetime="2012-10-10">10 Oct, 2012</time> <span class="bull">&bull;</span> <a href="#">12 Comments</a></p>
                        <p>I am really excited to announce that I'll be compiling the next album, set for a November 2012 release, which will be my 13th compilation. In 2001 Danny Howells and I released The Masters Series Part Four.</p>
                    </div>
                </article><!-- /post -->

                <article class="post">
                    <div class="post-intro">
                        <img src="http://placekitten.com/g/460/205" alt="" class="scale-with-grid" />
                        <h2><a href="#">Renaissance: Masters Series</a></h2>
                    </div><!-- /intro -->
                    <div class="post-body">
                        <p class="meta"><time class="post-date" datetime="2012-10-10">10 Oct, 2012</time> <span class="bull">&bull;</span> <a href="#">12 Comments</a></p>
                        <p>I am really excited to announce that I'll be compiling the next album, set for a November 2012 release, which will be my 13th compilation. In 2001 Danny Howells and I released The Masters Series Part Four.</p>
                    </div>
                </article><!-- /post -->

            </div>

            {% include 'inc/sidebar.html' %}
        </div><!-- /sixteen columns -->
    </div><!-- /row -->

    </div><!-- /container -->

{% endblock %}